/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #414040;
}

/* ===== HEADER ===== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

/* grupo logo + botão */
#header-content {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/* logo */
#logo {
    width: 15rem;
    height: 22rem;
    height: auto;
}

/* botão */
#btn-header {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: -29px;
    padding-top: 4px;
}


#btn-header:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.15)
}

#btn-header img {
    width: 70%;
    height: 70%;
}

/* ===== NAV ===== */
#nav-list {
    display: flex;
    gap: 1.5rem;
}

/* itens */
li {
    list-style: none;
}

/* links */
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    transition: 0.2s ease;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.15)
}

.text {
    display: block;
    align-items: center;
    padding: 0 2rem;
    margin-left: 20%;
    margin-bottom: 40px;
}

.text h1 {
    color: #ffffffd0;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.text p {
    color: #ffffffa2;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.container {
    display: block;
    align-items: center;
    padding: 0 2rem;
    margin-left: 20%;
    gap: 2rem;
    height: 26rem;
    width: 38rem;
    top: 10%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 8px 32px -8px rgb(0, 0, 0);
    padding-top: 15px;
    transition: ease 0.2s;
}

.container:hover {
    background: rgba(255, 255, 255, 0.301);
    box-shadow: 0 8px 32px -8px rgb(0, 0, 0);
    transform: scale(1.05);
}

#lamp-img {
    width: 70%;
    position: absolute;
    right: 260px;
}

.lamp-text {
    color: #ffffffa2;
    font-size: 1.2rem;
    margin-top: 1rem;
    position: absolute;
    right: 19px;
    bottom: 120px;
}